* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

header {
    margin-bottom: 40px;
}

.header-wrapper {
    background-color: #ededed;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 40px;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.content-container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: top;
    gap: 40px;
}

.header-container nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

.header-container nav ul a {
    text-decoration: none;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 300;
}

.header-container nav ul a:hover {
    color: #d34b49;
}

.header-container img {
    vertical-align: middle;
    margin-top: -2px;
    margin-right: 5px;
}

.logo {
    width: 200px;
    cursor: pointer;
}

.logo-user-wrapper {
    box-shadow: 2.5px 4.33px 10px rgba(0,0,0,0.1);
}

.logo-user {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    height: 90px;
}

.username {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    font-weight: 700;
    font-family: "Roboto";
    text-align: right;
    cursor: pointer;
}

main {
    background-color: #ffffff;
}

aside {
    max-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.aside-container {
    width: 280px;
    box-shadow: 5px 8.66px 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
    
}

.filter-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside-header {
    height: 60px;
    background-color: #7cb47a;
    cursor: pointer;
}

.aside-header h3 {
    font-size: 17px;
    line-height: 60px;
    color: #ffffff;
    font-weight: 900;
    margin-left: 30px;
}

.filter-list ul {
    list-style: none;
    font-size: 14px;
    line-height: 50px;
    color: #000000;
    font-weight: 300;
    margin-top: 10px;
}

.filter-list ul li img {
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 12px;
}

.human {
    margin-right: 12px;
}

.filter-images {
    margin: 16px 20px 30px 20px;
    display: flex;
    justify-content: space-between;
}

.button-wrapper {
    padding-bottom: 35px;
}

.filter-button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #7cb47a;
    border: none;
    width: 240px;
    height: 30px;
    font-size: 14px;
    color: #fffefe;
    font-weight: 300;
    cursor: pointer;
    margin: 0 auto;
}

.filter-button:hover {
    background-color: #6fa26d;
}

.research {
    padding-bottom: 20px;
}

.research-list {
    list-style: none;
}

.research-list li {
    padding-left: 30px;
    height: 60px;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.research-list li:nth-child(odd) {
    background-color: #ededed;
}

.research-date {
    color: #8c8c8c;
    font-weight: 300;
}

.main-container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.main-container h2 {
    font-size: 30px;
    font-weight: 900;
}

.welcome-section {
    background-image: url('images/background.png');
    height: 300px;
    background-position-y: 54%;
    background-position-x: 90%;
}

.welcome-section h1 {
    margin: 70px 40px 25px 40px;
    font-size: 40px;
    font-weight: 900;
    max-width: 390px;
}

.welcome-text {
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
}

.posibilities-list {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 40px 40px;
    list-style: none;
    margin-top: 35px;
}

.posibilities-list li {
    display: flex;
    align-items: center;
    gap: 40px;
}

.posibilities-list p {
    width: 280px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
}

.image-posibilities-wrapper {
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.posibilities-list li:nth-child(1), .posibilities-list li:nth-child(4) {
    .image-posibilities-wrapper {
        background-color: #7cb47a;
    }
}

.posibilities-list li:nth-child(2), .posibilities-list li:nth-child(3) {
    .image-posibilities-wrapper {
        background-color: #ededed;
    }
}

.intruction-step:nth-child(odd) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header picture"
    "number discription picture"
    ". . picture";
    align-items: center;
    gap: 40px 30px;
}

.intruction-step:nth-child(even) {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "picture . ."
    "picture number discription "
    "picture . . ";
    align-items: center;
    gap: 40px 30px;
}

.intruction-step h2 {
    grid-area: header;
    margin-top: 30px;
}

.intruction-step {
    margin-bottom: 20px;
}

.step-number {
    grid-area: number;
    opacity: 0.102;
    font-size: 120px;
    letter-spacing: -5px;
    line-height: 36px;
    color: #000000;
    font-weight: 900;
    font-family: "Roboto";
}

.step-name {
    grid-area: name;
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
}

.step-discription {
    grid-area: discription;
    font-size: 17px;
    line-height: 24px;
    font-weight: 300;
}

.step-picture {
    grid-area: picture;
}

.intruction-step:nth-child(odd) {
    display: grid;
}

